
#hotspots_container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(8, 12.5%);
  cursor: pointer;
}

#hotspots_container h3 {
  text-align: left;
}

.hot_value {
  font-size: 0.7em;
  padding: 1px 5px 1px 5px;
  color: gray;
}

.update_time span {
  display: block;
  text-align: right;
}

.hot_top3 {
  color: red;
  font-size: 1.6em;
}

.hot_rank {
  font-size: 1.6em;
  color: rgb(114, 113, 113);
}